<%= form_for(@crime_scene) do |f| %>
  <% if @crime_scene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crime_scene.errors.count, "error") %> prohibited this crime_scene from being saved:</h2>

      <ul>
      <% @crime_scene.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :crime_scene_img %><br />
    <%= f.file_field :crime_scene_img %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
