<h1>Listing ppl_involveds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Avtar img</th>
    <th>Statement</th>
    <th>Score</th>
    <th>Xp</th>
    <th>Cost</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ppl_involveds.each do |ppl_involved| %>
  <tr>
    <td><%= ppl_involved.name %></td>
    <td><%= ppl_involved.description %></td>
    <td><%= ppl_involved.avtar_img %></td>
    <td><%= ppl_involved.statement %></td>
    <td><%= ppl_involved.score %></td>
    <td><%= ppl_involved.xp %></td>
    <td><%= ppl_involved.cost %></td>
    <td><%= ppl_involved.type %></td>
    <td><%= link_to 'Show', ppl_involved %></td>
    <td><%= link_to 'Edit', edit_ppl_involved_path(ppl_involved) %></td>
    <td><%= link_to 'Destroy', ppl_involved, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ppl involved', new_ppl_involved_path %>
